@-webkit-keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0) scaleY(0.5);
            transform: scaleX(0) scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(0.5);
            transform: scaleX(1) scaleY(0.5);
  }
}

@keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0) scaleY(0.5);
            transform: scaleX(0) scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(0.5);
            transform: scaleX(1) scaleY(0.5);
  }
}

@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@keyframes headshake {
  25% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  75% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
}

@-webkit-keyframes bars {
  0% {
    -webkit-transform: scaleY(0.25);
            transform: scaleY(0.25);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bars {
  0% {
    -webkit-transform: scaleY(0.25);
            transform: scaleY(0.25);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'OpenSans';
  src: url("../../fonts/OpenSans-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuperMario';
  src: url("../../fonts/SuperMario.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #FFF;
}

body {
  background-image: url("../../assets/spr_background.png");
  background-attachment: fixed;
}

h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

h2 {
  font-family: "SuperMario","sans-serif";
  font-size: 60px;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  padding: 10%;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  font-family: "SuperMario","sans-serif";
  font-size: 24px;
}

/*####################################   HEADER  ####################################*/
header {
  padding-top: 70px;
  margin-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 50%;
  max-width: 450px;
}

/*####################################   NAVIGATION  ####################################*/
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

nav ul li a {
  text-shadow: 6px 6px black;
  color: #c9af1f;
}

nav ul li a:hover {
  color: #f77b55;
}

#current_page {
  color: rgba(255, 255, 255, 0.75);
}

/*####################################   FOOTER  ####################################*/
footer {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  bottom: 0px;
}

footer h2 {
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer li {
  margin-bottom: 20px;
}

footer li a {
  font-family: "OpenSans","sans-serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
}

footer li a:hover {
  color: #f77b55;
}

footer li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/*####################################   CONTENU PRINCIPALE  ####################################*/
section {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 30px;
  font-family: "OpenSans","sans-serif";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0px;
  text-align: left;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #dddddd;
}

article a {
  color: #f7d955;
}

article a:hover {
  color: #f77b55;
}

.main_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_text p {
  font-weight: bold;
  margin: 0px;
  padding-bottom: 30px;
}

.main_button {
  text-align: center;
}

.main_button .main_button-content {
  background: url("../../assets/spr_button.png") repeat-x;
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border: 3px black solid;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main_button .main_button-content a {
  font-family: "SuperMario","sans-serif";
  font-size: 60px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.main_button .main_button-content:hover {
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main_button-details {
  text-shadow: 3px 3px 6px black;
  margin: 20px;
}

.balance {
  font-weight: normal;
}

.balance_buff {
  color: #5bd65b;
}

.balance_nerf {
  color: #ff4d4d;
}

/*####################################   MOBILE  ####################################*/
@media screen and (max-width: 900px) {
  main {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header {
    margin-bottom: 50px;
  }
  header img {
    width: 75%;
  }
  nav ul li {
    margin-left: 0;
    font-size: 45px;
  }
  .main_button .main_button-content a {
    font-size: 40px;
  }
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer h2 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  footer li a {
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */