$width-mobile-max : 900px;
$page-content-desktop-padding : 10%;
$page-content-mobile-padding : 15px;
$color-effect-positive : rgb(91, 214, 91);
$color-effect-negative : rgb(255, 77, 77);
$color-nav-button : rgb(201, 175, 31);
$color-shadow : rgba(0, 0, 0, 0.6);
$color-link : rgb(247, 217, 85);
$color-link-hover : rgb(247, 123, 85);