@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

#teasers{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    li{
        width: 45%;
        height: 360px;
        position: relative;
        list-style: none;
        margin: 0px;
        margin-bottom: 48px;
        padding: 0px;
        box-shadow: 0px 0px 30px black;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        overflow: hidden;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        &:hover{
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(255, 255, 255);
            .media__content{
                transform: scale(1.0);
                filter: blur(0px);
            }
            h2{
                background-color: rgba(0, 0, 0, 0);
                color: rgba(255, 255, 255, 0);
                width: 0%;
            }
        }
        h2{
            z-index: 1;
            font-size: 100px;
            list-style: none;
            position: absolute;
            padding: 3px;
            padding-left: 16px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
        }
    }
}
.media{
    width: 100%;
    height: 100%;
    &__content{
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        filter: blur(30px);
        transform: scale(1.4);
        transition: all 300ms ease;
    }
}