@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

@font-face{
    font-family: 'OpenSans';
    src: url('../../fonts/OpenSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'SuperMario';
    src: url('../../fonts/SuperMario.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url("../../assets/spr_background.png");
    background-attachment: fixed;
    margin: 0px;
}
*{
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }
/*Global*/
#page_content{
    width: 85%;
    margin: auto;
    @include font-mario();
    font-size: 24px;
}
/*Haut*/
header{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 90px;
    text-align: center;
}
img[alt="smml title"]{
    width: 30%;
    height: 30%;
}
/*Navigation*/
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}
nav li{
    font-size: 60px;
    list-style: none;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
nav ul a{
    text-decoration: none;
    text-shadow: 6px 6px black;
    color: rgb(86, 230, 134);
}
nav ul a:hover{
    color: rgb(255, 255, 255);
}
nav ul a:active{
    color: rgb(255, 0, 0);
}
#current_page{
    color: rgba(255, 255, 255, 0.75);
}
/*Pied*/
footer{
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 100px;
    padding: 5px;
    position: relative;
    bottom: 0px;
}
footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
footer li{
    font-size: 20px;
    list-style: none;
    width: 150px;
}
footer ul a{
    @include font-standard();
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
footer img{
    width: 60px;
    height: 60px;
    margin: 5px;
}
/*Contenu*/
section{
    background: linear-gradient(#00000086, #c9716e31);
    border-top: 10px rgba(0, 0, 0, 0.5) solid;
    border-bottom: 10px rgba(255, 255, 255, 0.5) solid;
    border-radius: 1em;
    padding: 30px;
    @include font-standard();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    text-align: left;
    flex: 2;
    color :rgb(221, 221, 221);
    a{
        color :rgb(253, 164, 148);
        text-decoration: none;
    }
}
h1{
    margin: 0px;
    margin-bottom: 30px;
    font-size: 50px;
}
h2{
    @include font-mario();
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}
.main_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main_text p{
    font-weight: bold;
    margin: 0px;
    padding-bottom: 30px;
}
.balance{
    font-weight: normal;
    &_buff{
        color: $color-effect-positive;
    }
    &_nerf{
        color: $color-effect-negative;
    }
}