@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

em{
    font-style: normal;
    font-weight: bold;
    color: aqua;
}
.patch-list{
    li{
        list-style: square inside;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}