@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

@font-face{
    font-family: 'OpenSans';
    src: url('../../fonts/OpenSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'SuperMario';
    src: url('../../fonts/SuperMario.ttf');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #FFF;
    cursor: url(../../assets/smml_cursor.png), auto;
}
body{
    background-image: url("../../assets/spr_background.png");
    background-attachment: fixed; 
}
h2{
    @include font-mario();
    font-size: 60px;
    font-weight: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
    font-weight: bold;
    color: aqua;
}
main{
    width: 100%;
    padding: $page-content-desktop-padding;
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    @include font-mario();
    font-size: 24px;
}
/*####################################   HEADER  ####################################*/
header{
    padding-top: 60px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    img{
        width: 50%;
        max-width: 450px;
    }
}
/*####################################   NAVIGATION  ####################################*/
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    li{
        font-size: 60px;
        text-transform: uppercase;
        margin: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        a{
            text-shadow: 6px 6px black;
            color: $color-nav-button;
            &:hover{
                color: $color-link-hover;
            }
        }
    }
}
#current_page{
    color: rgba(255, 255, 255, 0.75);
}
/*####################################   FOOTER  ####################################*/
footer{
    background-color: $color-shadow;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: $page-content-desktop-padding;
    padding-right: $page-content-desktop-padding;
    position: relative;
    bottom: 0px;
    h2{
        font-size: 40px;
        color: white;
        padding-bottom: 20px;
    }
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    li{
        margin-bottom: 20px;
        a{
            @include font-standard();
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            font-size: 28px;
            &:hover{
                color: $color-link-hover;
            }
        }
        img{
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }
}
/*####################################   CONTENU PRINCIPALE  ####################################*/
section{
    background: $color-shadow;
    border-radius: 20px;
    padding: 30px;
    @include font-standard();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    color: rgb(221, 221, 221);
    a{
        color: $color-link;
        &:hover{
            color: $color-link-hover;
        }
    }
}
.main_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    h1{
        font-weight: bold; 
        margin-bottom: 30px;
        font-size: 50px;
    }
    p{
        font-weight: bold;
        font-size: 24px;
    }
}
.main_button{
    text-align: center;
    .main_button-content{
        background: url("../../assets/spr_button.png") repeat-x;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
        border: 3px rgba(0, 0, 0, 1) solid;
        border-radius: 20px;
        overflow: hidden;
        transition-property: transform;
        transition-duration: 300ms;
        @include font-mario();
        font-size: 50px;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        text-transform: uppercase;
        &:hover{
            color: white;
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
            transition-duration: 150ms;
        }
    }
    &-details{
        text-shadow: 3px 3px 6px black;
        margin: 20px;
    }
}
.balance{
    font-weight: normal;
    &_buff{
        color: $color-effect-positive;
    }
    &_nerf{
        color: $color-effect-negative;
    }
}
/*####################################   MOBILE  ####################################*/
@media screen and (max-width: $width-mobile-max){
    main{
        padding: $page-content-mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
    }
    header{
        padding-top: 20px;
        margin-bottom: 20px;
        img{
            width: 66%;
        }
    }
    nav ul{
        margin-bottom: 10px;
        li{
            font-size: 40px;
            margin: 20px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 2px;
            padding: 0px;
        }
    }
    .main_button{
        .main_button-content{
            font-size: 10vw;
        }
    }
    .main_text{
        h1{
            font-size: 33px;
        }
        p{
            font-size: 18px;
            font-weight: normal;
        }
    }
    h2{
        font-size: 40px;
    }
    section{
        padding: 15px;
        flex-direction: column;
    }
    footer{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: $page-content-mobile-padding;
        padding-right: $page-content-mobile-padding;
        h2{
            font-size: 30px;
            padding-bottom: 15px;
        }
        li{
            a{
                font-size: 22px;
            }
        }
    }
}