@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

article{
    padding-right: 20px;
}
/*Illustrations de coté*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    flex: 1;
}
aside img{
    width: 100%;
    box-shadow: 5px 5px 20px black;
}
.main_button{
    margin-top: 70px;
}