article{
    padding-right: 20px;
}
/*Illustrations de coté*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    flex: 1;
}
aside img{
    width: 100%;
    box-shadow: 5px 5px 20px black;
}
/*Bouton télécharger*/
.download_button{
    text-align: center;
    margin-top: 90px;
}
#dl_link{
    background: url('../assets/spr_button.png') repeat-x;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 3px rgba(0, 0, 0, 1) solid;
    border-radius: 0.7em;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#dl_link a{
    font-family: "SuperMario","sans-serif";
    font-size: 80px;
    padding: 20px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
#dl_link a:hover{
    background-color: rgb(255, 252, 61);
    color: rgba(0, 0, 0, 0.5);
}
#dl_link a:active{
    color: black;
}
#dl_version{
    text-shadow: 3px 3px 6px black;
    margin: 20px;
    padding: 0px;
}